/* General body styling */
body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-image: url(../background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* header */
header{
    padding: 24px;
    border-radius: 0 0 13px 13px ;
    box-shadow: 0px 4px 18px -6px rgba(0, 87, 255, 1);
    background-color: #fff;
}

/* main */
main{
    padding: 48px 24px;
}

.pt-2{
    padding-top: 52px;
}
/* Title */
.title {
    color: #134077;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}

.events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem; /* Adjust the gap as necessary */
}


.event {
    background: #ffffff;
    border: 1px solid #134077;
    border-radius: 19px;
    padding: 1.825rem;
    min-width: 300px;
    max-width: 350px; /* Adjust the width as necessary */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.event-name {
    color: #231F20;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

.event-plus {
    color: #231F20;
    font-size: 167px;
    font-weight: 900;
    margin: 0;
}

.event-date {
    color:#CCCCCC;
    font-size: 20px;
    font-weight: 900;
    margin: 0;
}
.btn-group{
    display: flex;
    gap: 16px;
    justify-content: space-between;
}
.event-button {
    padding: 18px !important; 
    background-color: #0056ff;  
    color: white;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.event-button:hover {
    background-color: #003b80;
}

.edit{
    flex: 1;
}

.del{
    flex: 1;
    background-color: #ff2200;  
}

.del:hover{
    background-color: #b51800;
}

@media (max-width: 768px) {
    .events-container {
        flex-direction: column;
    }
}

/* Container for the sign-up form */
.signup-container {
    background: #ffffff;
    padding: 2.75rem 1.825rem;
    border: 1px solid #134077;
    border-radius: 19px;
    width: 665px; /* You may need to adjust this value */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; /* Ensure it does not overflow the viewport */
    margin: auto;
}


/* Style for form elements */
.signup-form {
    width: 100%; /* Full width of the container */
}

.form-group{
    display: grid;
    margin-bottom: 24px;
}

.password{
    position: relative;
}

.password:after{
    content: "";
    display: block;
    height: 24px;
    width: 24px;
    background-image: url(../show.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 30px;
    right: 10px;
}

.signup-form label {
    margin-bottom: 5px;
    color: #231F20;
    font-weight: bold;
    font-size: 13px;
}

.signup-form input {
    padding: 10px 0;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid #134077;
}

/* Style for the submit button */
.signup-form button {
    width: 100%; 
    margin-top: 1rem;
}


/* Link to the login page */
.login-link {
    color: #2d224c;
    text-align: center;
    margin-top: 36px;
    font-size: 13px;
}

.login-link a {
    color: #2d224c;
    text-decoration: underline;
    font-weight: 900;
}

.login-link a:hover {
    text-decoration: underline;
}


/* Style adjustments for event details within the form */
.event input[type="text"] {
    width: 100%; /* Full width of the container */
    border: none; /* Remove borders */
    border-bottom: 1px solid #cccccc; /* Add bottom border */
    padding: 0.5rem 0; /* Adjust padding */
    font-size: 1rem; /* Match font-size with other text */
    color: #231F20; /* Text color for input */
    background: transparent; /* No background */
}

.event input[type="text"]:focus {
    outline: none; /* Remove focus outline */
    border-bottom: 2px solid #0056ff; /* Highlight bottom border on focus */
}

.event form {
    display: flex; /* Ensure form elements align properly */
    flex-direction: column; /* Stack form elements vertically */
    gap: 0.5rem; /* Space between form elements */
}

.event .event-details {
    margin-bottom: 1rem; /* Space between event details and buttons */
}

.event .btn-group {
    display: flex; /* Display buttons in a row */
    gap: 0.5rem; /* Space between buttons */
}

.event .btn-group button {
    flex-grow: 1; /* Buttons take up equal space */
}

/* Button styles */
.event-button.edit,
.event-button.del {
    border-radius: 11px; /* Rounded corners for buttons */
    padding: 0.5rem; /* Padding inside buttons */
    text-transform: uppercase; /* UPPERCASE text for buttons */
}

.event-button.edit {
    background-color: #4c6ef5; /* Specific color for edit button */
}

.event-button.del {
    background-color: #ff6b6b; /* Specific color for delete button */
}


.add-event-card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.add-event-card:hover {
    background-color: #e7e7e7; /* Lighter background on hover */
    transform: translateY(-3px); /* Slight lift effect */
}

/* Style the Add Event Form */
.add-event-form {
    flex-direction: column;
    gap: 1rem;
    padding-top: 53px;
    padding-bottom: 53px;
}

.add-event-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 4px;

}

.add-event-form button {
    padding: 0.5rem;
    background-color: #0056ff;
    color: white;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    text-transform: uppercase;
}
